* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(123, 33, 131);
    font-size: 20px;
    font-weight: bolder;
}

h3 {
    color: white;
    background-color: black;
    text-align: center;
}

p {
    color: rgb(28, 42, 240);
}

.homebutton {
    background-color: #67e7ae;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: rgb(102, 8, 8);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}